body{

    background-image: url(earth.jpg);
    background-size: 103%;
    background-repeat: no-repeat;

}

/* navbar starts here */

.top {
    /* aspect-ratio: 900/450; */
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -30px;
    padding: 0;
    position: sticky;
    z-index: 100;
}

/* trapazi strt  */

#trapezoid {

    /* margin-top: 100px; */
    /* -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box; */
    box-sizing: content-box;
    object-fit:cover;
    height:0;
    border: 85px solid rgba(228, 220, 220, 0);
    /* border-top: 100 solid; */
    border-bottom: 100px solid #0d61df;
    /* -webkit-border-radius: 20px 20px 0 0; */
    border-radius: 20px 20px 0 0;
    font-size: large;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.834);
    /* -o-text-overflow: clip;
    text-overflow: clip; */
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    /* margin-top: -10px; */
    width: 55vw;
    position : fixed;
    transition : all 0.7s ease;
    padding-left : 7%;
    z-index : 100;
}


#trapezoid a,
.subnavbtn {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    font-size: 100%;
}

.sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    transform: perspective(-10px);
}

#trapezoid:hover .sub-home {
    justify-content: center;
    margin-top: 0px;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100px;
    z-index: 100;
}

.navbar a {
    float: left;
    font-size: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
    z-index: 0;
}

.navbar button{
    font-size: 90%;
}
.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-weight: bold;
    font-size: 100%;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background: #041b3d;
    color: #ffffff;
    border-radius: 5px;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: perspective(-10px);
}

.subnav-content a {
    float: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.subnav-content a:hover {
    background: #f25c05;
    color: black;
}

.subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
}

/* navbar ends here */

/*  */
/*  */
/*  */

.glitching{
    padding:0px;
    margin:0px;
    background:transparent; 
    font-family: 'VT323', monospace;
    color:#ff0000;
    height:5vh;
 }
 
 canvas {
    background:none;
    margin:auto;
    position:fixed;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    
 }

 .gbuttons{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
 }

 
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color:#0d61df;
    border: 2px solid #0d61df;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 320px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

.btn :focus{

    background-color: #ffffff;
    color: aqua;
}
